*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header{
    padding: 80px; 
    text-align: center;
    background: #1abc9c;
    color: white;
}
.header h1{
    font-size: 40px;
}
.header p{

}
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
    position: sticky;
  position: -webkit-sticky;
  top: 0;
  }

  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  /* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  /* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }
  /* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  